@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
$bgDark: #373a36;
$bgLight: #eeeeee;
$highlight: #ee4018;
$sageGreen: #8ab24e;
$warmBeige: #d5b69e;
$bgWhite: #ffffff;

.box {
	background-color: $bgWhite;
	color: $bgLight;
	border-radius: 0.5rem;
	height: 200px;
	width: 200px;
	margin-block: 1rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
	&:hover {
		transform: scale(1.01);
		transition: all 0.3s;
	}
}

// Removing overflow: hidden from global styles to allow for scrolling.
body,
html {
	background-color: $bgLight;
	color: $bgDark;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	overflow: hidden;
}

.App {
	width: 100vw;
	height: 100vh; // Keeping the app container full viewport height.
}
//scrollbar
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background: $bgLight;
}
::-webkit-scrollbar-thumb {
	background: $sageGreen;
}

.contentContainer,
// to make the side and main scrollable
.divNoBordi > .row > .col-4 {
	overflow-y: auto; // Enabling vertical scrolling for these containers.
	max-height: 100vh; // Ensuring they do not exceed the viewport height.
	margin-block: 0.5rem;
	padding: 1rem;
}

.dark {
	background-color: $bgDark;
	color: $bgLight;
}
.light {
	background-color: $bgLight;
	color: $bgDark;
}
.White {
	background-color: $bgWhite;
	color: $bgDark;
}
.text-green {
	color: $sageGreen;
}
.text-highlight {
	color: $highlight;
}
.divNoBordi {
	width: 100vw;
	height: 100vh;
}
.vertical-layout {
	flex-direction: column;
}
.z-index-99 {
	z-index: -1;
}
.sidebar {
	background-color: $bgWhite;
	z-index: 1000;
	transition: width 0.6s;
	text-wrap: nowrap;
	overflow-x: hidden;

	a {
		color: $bgDark;
		text-decoration: none;
		transition: all 1s;
		transition: color 0.3s;
		.iconSide {
			color: inherit;
		}
	}
	a:hover {
		background-color: $bgLight;
		color: $sageGreen;
		transition: all 0.3s;
		border-radius: 0.5rem 0 0 0.5rem;
	}
	.sideProfile {
		background-color: $bgDark;
		color: #fff;
		margin-inline-end: -0.5rem;
		border: none;
		transition: all 0.3s;
		border-radius: 0.5rem 0 0 0.5rem;
		overflow: hidden;
		.imgSmall {
			width: 50px;
			height: 50px;
			transition: all 0.3s;
			background-size: contain;
		}
		.imgHuge {
			width: 50px;
			height: 50px;
			transform: scale(2);
			transition: all 0.3s;
			&:hover {
				transition: all 0.3s;
			}
		}
	}
	.sideProfile:hover {
		background-color: $bgLight;
		color: rgb(60, 175, 22);
		transform: scale(1.01);
		transition: all 0.3s;
	}
}

.sideOpen {
	width: 300px;
}
.sideClose {
	width: 80px;
}
.cursor-pointer {
	cursor: pointer;
}

.divAuth {
	background-image: url("./assets/authBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	.registerPos {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translate(-50%, -50%);
		/* Ensures the element is not too close to the edges on smaller screens */
		max-width: 90%;
		box-sizing: border-box;
	}

	/* Media query for mobile devices */
	@media (max-width: 768px) {
		.registerPos {
			top: auto;
			right: auto;
			bottom: 10%; /* or another value that suits the mobile layout */
			left: 10%; /* or another value that suits the mobile layout */
			transform: translate(0, 0);
			width: 80%; /* Set a specific width for mobile */
			/* Optional: you can center it horizontally */
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.contentContainer {
	max-height: 100vh;
	margin-block: 0.5rem;
	padding: 1rem;
}
@media (min-width: 992px) {
	.recipeContainer {
		height: 200px;
	}
}
.no-line-break {
	white-space: nowrap; /* Prevents the text from wrapping to a new line */
	overflow: hidden; /* Ensures the overflow text is hidden */
	text-overflow: ellipsis; /* Adds an ellipsis to signify there's more text */
}

.dishImage {
	max-width: 200px;
	max-height: 200px;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.btn-outline-green {
	background-color: $bgWhite;
	color: $sageGreen;
	border: 1px solid $sageGreen;
	transition: all 0.3s;
	&:hover {
		background-color: $sageGreen;
		color: $bgWhite;
		transition: all 0.3s;
	}
}
.btn-outline-highline {
	background-color: $bgWhite;
	color: $highlight;
	border: 1px solid $highlight;
	transition: all 0.3s;
	&:hover {
		background-color: $highlight;
		color: $bgWhite;
		transition: all 0.3s;
	}
}
.btn-bland {
	background-color: $warmBeige;
	color: $bgWhite;
	border: 1px solid $bgWhite;
	transition: all 0.3s;
	&:hover {
		background-color: $bgWhite;
		color: $warmBeige;
		transition: all 0.3s;
	}
}
.mostLikedRecipes {
	margin-block-start: -25px !important;
}
.num-award {
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 2.5rem;
	z-index: 10;
	transform: rotate(10deg); /* Specify the rotation degree if needed, 0deg if no rotation */
	width: 60px; /* Fixed width */
	height: 60px; /* Fixed height */
	background-color: $sageGreen;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%; /* Makes the badge circular */
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text for better readability */
}
.num-award-animation {
	animation: popIn 0.8s ease-out forwards;
}
@keyframes popIn {
	0% {
		transform: scale(1) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: scale(1.2) rotate(-10deg);
		opacity: 1;
	}
	70% {
		transform: scale(0.9) rotate(10deg);
	}
	100% {
		transform: scale(1) rotate(-10deg);
		opacity: 1;
	}
}
